@{
    ViewData["Title"] = "Упс! Что-то пошло не так.";
}

<h1 class="text-danger mt-5 mb-5 text-center">Упс! Что-то пошло не так.</h1>

<h2 class="text-danger text-center">
    Приносим извинения, но, похоже, возникла проблема со страницей, на которую вы пытаетесь получить доступ.
    Пожалуйста, повторите попытку позже или обратитесь в нашу службу поддержки, если проблема не устранится.
</h2>